<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Minimal by Steve Smith</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pygment_trac.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>
  <body>
    <div class="wrapper">
    <ul>
      {% if users %}
      {% for user in users %}
      <li><a href="{{user.id}}">{{user.name}}'s Stuff</a></li>
      {% endfor %}
      {% else %}
      Not logged In!
      <br />
      <li><a href="/users/login/">Login here</a></li>
      <li><a href="/users/register/">Register here</a></li>
      <li><a href="/users/me/">Your Profile</a></li>      
      {% endif %}
    </ul>

    </div>
    <script src="{{ url_for('static', filename='scale.fix.js') }}"></script>
  </body>
</html>
